<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="addProduct">
        <div class="addProduct__heading">
            <h1>Thêm món ăn mới</h1>
        </div>
        <div class="addProduct__form">
            <form class="form__addProduct" action="/admin/add-product" enctype="multipart/form-data" method="POST">
                <div class="form__group">
                    <label for="name">Tên món ăn</label>
                    <input type="text" placeholder="Tên món ăn" name="name" id="name">
                </div>
                <div class="form__group">
                    <label for="price">Giá bình thường</label>
                    <input type="text" placeholder="Giá" name="price" id="price">
                </div>
                <div class="form__group">
                    <label>Khoảng Giá</label>
                    <div class="form__group--price">
                        <input type="text" placeholder="Từ" name="priceStart" id="priceStart">
                        <input type="text" placeholder="Đến" name="priceEnd" id="priceEnd">
                    </div>
                    
                </div>
                <div class="form__group">
                    <label for="type">Loại</label>
                    <input type="text" placeholder="food , drinks" name="type" id="type">
                </div>
                 <div class="form__group">
                    <label for="typedetail">Loại chi tiết</label>
                    <input type="text" placeholder="nem, bánh canh..." name="typedetail" id="typedetail">
                </div>
                 <div class="form__group">
                    <label for="type">session</label>
                    <input type="text" placeholder="sáng, trưa, chiều ..." name="session" id="session" value="{{product.session}}">
                </div>
                <div class="form__group">
                    <label for="description">Mô tả</label>
                    <textarea type="text" placeholder="Mô tả món ăn" name="description" id="description" rows="4" cols="50"></textarea>
                </div>
                <div class="form__group">
                    <label for="shopID">ID Cửa hàng</label>
                    <input type="text" id="shop" placeholder="id shop" name="shopID" >
                </div>

                <div class="form__group">
                    <label for="thumbnails">Hình ảnh</label>
                     <input name="thumbnails" type="file" accept=".png,.jpg" multiple required>
                </div>  
               
            </form>
             <button  class="btn--primary btn-small btn-submit">ADD</button>
            <button class="btn--secondary btn-small btn-reset">Reset</button>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $(".btn-submit").click(function(){
            $(".form__addProduct").submit();
        })
    })
</script>
</html>