<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav__left">
            <div class="nav__left--search">
                <div class="nav__left--search_input">
                    <form action="#">
                        <input type="text" name="search" id="search">
                    </form>
                </div>
                <div class="nav__left--search_btn">
                    <button class="btn--primary btn-search"><i class="fad fa-search"></i></button>
                    
                </div>
            </div>
        </div>
        <div class="nav__right">
            <div class="nav__right--wrapper">
                <div class="nav__right--wrapper_bell">
                <i class="fas fa-bell"></i>
                <span>0</span>
                </div>
                <div class="nav__right--wrapper_envelope">
                    <i class="fas fa-envelope"></i>
                    <span>0</span>
                </div>
                <div class="nav__right--wrapper_block"></div>
                <div class="nav__right--wrapper_account">
                    <div class="nav__right--wrapper_account--name">
                        Vu Van Thanh
                    </div>
                    <div class="nav__right--wrapper_account--avatar">
                        <img src="https://assets-global.website-files.com/6005fac27a49a9cd477afb63/6057684e5923ad2ae43c8150_bavassano_homepage_before.jpg" alt="avatar">
                    </div>
                    <div class="dropdown__menu">
                        <a href="#" class="drop--item"><i class="fas fa-user"></i>Profile</a>
                        <a href="#" class="drop--item"><i class="fas fa-cogs"></i>Setting</a>
                        <a href="#" class="drop--item"><i class="fas fa-user"></i>Ativity Log</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="drop--item"><i class="fas fa-user"></i>Logout</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>   

